.theme-info-verification {
  display: flex;
  flex-direction: column;

  &-description-content {
    flex-grow: 1;
  }

  &-cta {
    margin: $spacing-xl auto $spacing-l auto;
    max-width: 100%;
    row-gap: $spacing-s ;
    width: 19rem;
  }

  a {
    span {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
    }
  }

  footer {
    padding-bottom: $spacing-m;

    @include media-breakpoint-up(lg) {
      padding-bottom: 0;
    }
  }
}
