.theme-manage-password {
  a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;

    .theme-key-value-text-label {
      font-size: $font-size-md;
      font-weight: $theme-font-weight-bold;
    }
  }

}
