// Local Mixin
@mixin transaction-card-bottom-spacing {
  // Spacing in figma not matching design kit values. Using nearest value.
  margin-bottom: $spacing-5xl;

  @include media-breakpoint-down(sm) {
    // Spacing in figma not matching design kit values. Using nearest value.
    margin-bottom: $spacing-4xl;
  }
}

.theme-product-details {
  &-heading-section {
    padding: 0;
  }

  &-tab-spacing {
    >div {
      @include tablet-layout-spacing;
    }
  }

  .theme-loan-details-header {
    @include media-breakpoint-up(lg) {
      margin-bottom: $spacing-3xl;
    }
  }

  &-transactions {
    .theme-key-value-text-label {
      margin-bottom: $spacing-xl;
    }

    .theme-transaction-card {
      border-bottom: 1px solid $aa-marble;
      margin-bottom: $spacing-m;
      padding-bottom: $spacing-m;
      padding-left: 10px;

      &:last-of-type {
        border-bottom: 0;
        margin-bottom: $spacing-xl;
      }

      &-route {
        p {
          padding-right: 0;
        }
      }
    }

    &-list {
      @include transaction-card-bottom-spacing;
    }

    &-view-all {
      @include link-primary-bold;
      @include transaction-card-bottom-spacing;

      font-family: $theme-font-family-base;
      text-align: center;
      width: 4.5rem;

      @include media-breakpoint-down(lg) {
        margin-bottom: $spacing-6xl;
      }
    }
  }

  &-documents {
    @include media-breakpoint-down(lg) {
      margin-bottom: $spacing-xl;
    }

    .theme-key-value-text {
      align-items: center;
      display: flex;
      margin: 0;
      padding: 0;

      .theme-key-value-text-label {
        margin: 0;
      }
    }

    .theme-key-value-text-icon {
      border: 0;
    }

    &-wrapper {
      .theme-download-btn {
        align-items: center;
        display: flex;
        margin-bottom: $spacing-l;
        padding: 0;
        text-decoration: none;
        width: 100%;

        &:first-child {
          margin-top: $spacing-l;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-loan-card {
    @include media-breakpoint-down(lg) {
      margin-top: $spacing-xl;
    }

    .card {
      border: none;

      .card-body {
        padding: 0;

        h1 {
          font-size: $font-size-lg;
          margin-bottom: $spacing-m; // Total 32 px required, 16 px margin top is coming from key-value text component

          @include media-breakpoint-up(lg) {
            font-size: $font-size-xl;
          }
        }
      }
    }

    &-header-details {
      border-bottom: 1px solid $aa-marble;
      margin-bottom: $spacing-l;
      padding-bottom: $spacing-l;
    }

    &-loan-details {
      margin-bottom: $spacing-xl;

      @include media-breakpoint-up(lg) {
        margin-bottom: $spacing-3xl;
      }

      .theme-key-value-text {
        &:last-of-type {
          .theme-key-value-text-label {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &-cta-block {
    background-color: $aa-white;
    bottom: 0;
    box-shadow: $pf-box-shadow-sticky;
    left: 0;
    padding: $spacing-m;
    position: fixed;
    width: 100%;

    a {
      display: flex;
      padding: $spacing-m;
      width: 12.5rem;

      @include media-breakpoint-up(lg) {
        width: 19rem;
      }

      @include btn-secondary;

      &:first-of-type {
        @include btn-primary;

        @include media-breakpoint-down(sm) {
          width: 100%;
        }

        @include media-breakpoint-up(lg) {
          margin-right: $spacing-s;
        }
      }
    }
  }

  &-refinance {
    .theme-product-details-cta-block {
      a {
        &:first-of-type {
          @include media-breakpoint-down(sm) {
            width: 8rem;
          }
        }
      }
    }
  }
}
