.theme-review-disclosures {
  min-height: 100%;

  @include media-breakpoint-up(lg) {
    min-height: 44.5rem;
  }

  &-content {
    background-color: $aa-day-blue-light;
    margin: 0 (-$spacing-l) $spacing-3xl;
    padding: $spacing-xl $spacing-m;

    @include media-breakpoint-up(lg) {
      margin: 0 0 $spacing-3xl;
    }

    p,
    .theme-disclosure-link {
      margin-bottom: $spacing-m;
    }

    p {
      font-size: $font-size-sm;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .theme-disclosure-link {
      border: 0;
      color: $aa-dark-blue;
      display: block;
      font-family: $theme-font-family-base;
      font-weight: $theme-font-weight-bold;
      padding: 0;
    }

  }

  &-cta-block {
    margin: 0 $spacing-s $spacing-l;

    @include media-breakpoint-up(lg) {
      margin: 0 auto $spacing-3xl;
      max-width: 100%;
      padding: 0;
      width: 19rem;
    }
  }

  footer {
    padding-bottom: $spacing-m;

    @include media-breakpoint-up(lg) {
      padding-bottom: 0;
    }
  }
}
