.theme-loan-timer {
  background: $aa-day-blue;
  border-radius: .5rem;
  color: $aa-green;
  height: 3.5rem;
  line-height: 4;
  margin-top: $spacing-xl;

  .theme-info {
    background: $aa-day-blue;
  }
}
