.theme-money-card-slider {
  .card-body {
    padding: 0;
  }

  &-container {
    &-header {
      border: 1px solid $aa-marble;
      padding: $spacing-m;

      p {
        font-family: $theme-font-family-secondary;
        font-size: $font-size-mdl;
        font-weight: $theme-font-weight-bold;
        line-height: $theme-line-height-md;
        max-width: 18rem;

        @include media-breakpoint-up(md) {
          max-width: 100%;
        }
      }

      p,
      .theme-skeleton-loader {
        margin: 0;
      }

      @include media-breakpoint-up(md) {
        padding: $spacing-l;
      }
    }
  }

  &-wrapper {
    padding: $spacing-m $spacing-m $spacing-3xl;

    @include media-breakpoint-up(md) {
      padding: $spacing-l $spacing-l $spacing-4xl;
    }
  }

  /* stylelint-disable -- disabling checks because we are accommodating modifications on splide classes*/
  .splide__pagination {
    bottom: $spacing-m;
  }
  
  @include media-breakpoint-up(md) {
    .splide__pagination {
      bottom: $spacing-l;
    }

    .splide__arrow {
      bottom:  $spacing-m;
      top: inherit;
      transform: translateY(0);
    }

    .splide__arrow--prev {
      left: $spacing-l;
    }

    .splide__arrow--next {
      right:  $spacing-l;
    }
  }
}
