/*
NOTE: Spacing values as defined in the design kit. New values should not be added here unless approved by design and implemented in the design kit first.

These values should be used for spacing only (primarily margin/padding), do not apply to fonts or other non-spacing specific properties.
*/

$spacing-xs: 0.25rem; // 4px
$spacing-s: 0.5rem; // 8px
$spacing-m: 1rem; // 16px
$spacing-l: 1.5rem; // 24px
$spacing-xl: 2rem; // 32px
$spacing-xxl: 2.5rem; // 40px
$spacing-3xl: 3.5rem; // 56px
$spacing-4xl: 4.5rem; // 72px
$spacing-5xl: 6rem; // 96px
$spacing-6xl: 7.5rem; // 120px
$spacing-9xl: 9rem; // 144px
$spacing-10xl: 10rem; // 156px
$spacing-18xl: 18.5rem; // 296px




// NOTE: Old values mapped to new values to prevent short term conflicts
// TODO: find and replace, eventually these and note above should be deleted
$xx-small: $spacing-xs;
$x-small: $spacing-s;
$small: $spacing-m; // this value bumped up from 14px to 16px
$medium: $spacing-m;
$large: $spacing-l;
$x-large: $spacing-xl;
$xx-large: $spacing-3xl; // this value bumped up from 50px to 56px
